{% extends "default.html" %}
{%block title%}
	<title>Register</title>
 	<link rel="stylesheet" href="../static/login.css">
{%endblock%}
{% block nav %}
	<a href="{{url_for('login')}}" class="m-2">Login</a>
{% endblock %}
{%block body %}	
	<main>
		<div class="d-flex flex-row justify-content-center">
				<form action="{{url_for('register')}}" method="post" class="d-flex flex-column justify-content-center" style="margin-top:10%;">
					<h3 style="text-align: center;" >Register</h3>
					<input type="text" name="name" placeholder="Choose User Name" >
					<input type="password" name="password" placeholder="Choose password">
					<button type="submit" class="btn btn-danger m-2">submit</button>		
				
				</form>
		</div>
	</main>
{%endblock%}	
